.create-container{
    position: relative;
    margin-top: 50px;
    height: 800px;
    font-weight: 700;
    font-size: 26px;
    background-color: #151C21;
    margin-top: 0px;
    color: white;
    
}

.submit{
    margin-top: 30px;
}

#BtnColor{
    background-color: red;
    color: white;
    border:none;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.left{
    width: 50%;
    height: 800px;
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: column; */
}

form{
    display: flex;
    flex-direction: column;
    width:300px;
    margin-left: auto;
    margin-right: auto;
}

.right{
    width: 50%;
    height: 800px;
    /* background-color:red; */
}

.title{
 margin-left: auto;
 margin-right: auto;
}

.flip-card{
    margin-right: 200px;
}

.description{
    display: flex;
    text-align: center;
    width:400px;
    font-size: 16px;
    /* height: 200px;
    margin-bottom: 10px; */
    margin-left:auto;
    margin-right: auto;
}